GPSWithFriends/Service References/Server/UserAction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FastSignUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FastSignUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FastSignUpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesResult" type="tns:ArrayOfCMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CMessage" nillable="true" type="tns:CMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="feed_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="from_uid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="from_email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="content_type" type="tns:CMessageType" />
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="hint" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CMessageType">
        <s:restriction base="s:string">
          <s:enumeration value="DEFAULT_TYPE" />
          <s:enumeration value="IM_MESSAGE" />
          <s:enumeration value="REQUEST" />
          <s:enumeration value="NOTIFICATION" />
          <s:enumeration value="LOC_UPDATE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from_uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to_email2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFriendRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFriendRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFriendRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnswerAddFriend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="accept" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnswerAddFriendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnswerAddFriendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lati" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longi" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFriend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFriendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFriendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendsResult" type="tns:ArrayOfCUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CUser" nillable="true" type="tns:CUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_location" type="tns:CLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="current_state" type="tns:CUserState" />
          <s:element minOccurs="0" maxOccurs="1" name="feed_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="group_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFriendOfCaller" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="last_time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CUserState">
        <s:restriction base="s:string">
          <s:enumeration value="ONLINE" />
          <s:enumeration value="OFFLINE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetGroupNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGroupInfoFromName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupInfoFromNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupInfoFromNameResult" type="tns:ArrayOfCUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="old_group_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="new_group_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeUserGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserFromEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserFromEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserFromEmailResult" type="tns:CUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="FastSignUpSoapIn">
    <wsdl:part name="parameters" element="tns:FastSignUp" />
  </wsdl:message>
  <wsdl:message name="FastSignUpSoapOut">
    <wsdl:part name="parameters" element="tns:FastSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="AddFriendRequestSoapIn">
    <wsdl:part name="parameters" element="tns:AddFriendRequest" />
  </wsdl:message>
  <wsdl:message name="AddFriendRequestSoapOut">
    <wsdl:part name="parameters" element="tns:AddFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="AnswerAddFriendSoapIn">
    <wsdl:part name="parameters" element="tns:AnswerAddFriend" />
  </wsdl:message>
  <wsdl:message name="AnswerAddFriendSoapOut">
    <wsdl:part name="parameters" element="tns:AnswerAddFriendResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLocationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLocation" />
  </wsdl:message>
  <wsdl:message name="UpdateLocationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFriend" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFriendResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="GetFriendsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupNames" />
  </wsdl:message>
  <wsdl:message name="GetGroupNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupInfoFromNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupInfoFromName" />
  </wsdl:message>
  <wsdl:message name="GetGroupInfoFromNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupInfoFromNameResponse" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeUserGroupSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeUserGroup" />
  </wsdl:message>
  <wsdl:message name="ChangeUserGroupSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserFromEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserFromEmail" />
  </wsdl:message>
  <wsdl:message name="GetUserFromEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserFromEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="UserActionSoap">
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FastSignUp">
      <wsdl:input message="tns:FastSignUpSoapIn" />
      <wsdl:output message="tns:FastSignUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input message="tns:GetMessagesSoapIn" />
      <wsdl:output message="tns:GetMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFriendRequest">
      <wsdl:input message="tns:AddFriendRequestSoapIn" />
      <wsdl:output message="tns:AddFriendRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnswerAddFriend">
      <wsdl:input message="tns:AnswerAddFriendSoapIn" />
      <wsdl:output message="tns:AnswerAddFriendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <wsdl:input message="tns:UpdateLocationSoapIn" />
      <wsdl:output message="tns:UpdateLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <wsdl:input message="tns:DeleteFriendSoapIn" />
      <wsdl:output message="tns:DeleteFriendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input message="tns:GetFriendsSoapIn" />
      <wsdl:output message="tns:GetFriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupNames">
      <wsdl:input message="tns:GetGroupNamesSoapIn" />
      <wsdl:output message="tns:GetGroupNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupInfoFromName">
      <wsdl:input message="tns:GetGroupInfoFromNameSoapIn" />
      <wsdl:output message="tns:GetGroupInfoFromNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input message="tns:CreateGroupSoapIn" />
      <wsdl:output message="tns:CreateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserGroup">
      <wsdl:input message="tns:ChangeUserGroupSoapIn" />
      <wsdl:output message="tns:ChangeUserGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input message="tns:DeleteGroupSoapIn" />
      <wsdl:output message="tns:DeleteGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFromEmail">
      <wsdl:input message="tns:GetUserFromEmailSoapIn" />
      <wsdl:output message="tns:GetUserFromEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserActionSoap" type="tns:UserActionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FastSignUp">
      <soap:operation soapAction="http://tempuri.org/FastSignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriendRequest">
      <soap:operation soapAction="http://tempuri.org/AddFriendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerAddFriend">
      <soap:operation soapAction="http://tempuri.org/AnswerAddFriend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <soap:operation soapAction="http://tempuri.org/UpdateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <soap:operation soapAction="http://tempuri.org/DeleteFriend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap:operation soapAction="http://tempuri.org/GetFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupNames">
      <soap:operation soapAction="http://tempuri.org/GetGroupNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupInfoFromName">
      <soap:operation soapAction="http://tempuri.org/GetGroupInfoFromName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserGroup">
      <soap:operation soapAction="http://tempuri.org/ChangeUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFromEmail">
      <soap:operation soapAction="http://tempuri.org/GetUserFromEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserActionSoap12" type="tns:UserActionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FastSignUp">
      <soap12:operation soapAction="http://tempuri.org/FastSignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://tempuri.org/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/AddFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerAddFriend">
      <soap12:operation soapAction="http://tempuri.org/AnswerAddFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <soap12:operation soapAction="http://tempuri.org/UpdateLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <soap12:operation soapAction="http://tempuri.org/DeleteFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupNames">
      <soap12:operation soapAction="http://tempuri.org/GetGroupNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupInfoFromName">
      <soap12:operation soapAction="http://tempuri.org/GetGroupInfoFromName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap12:operation soapAction="http://tempuri.org/CreateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserGroup">
      <soap12:operation soapAction="http://tempuri.org/ChangeUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap12:operation soapAction="http://tempuri.org/DeleteGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFromEmail">
      <soap12:operation soapAction="http://tempuri.org/GetUserFromEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAction">
    <wsdl:port name="UserActionSoap" binding="tns:UserActionSoap">
      <soap:address location="http://gwf.azurewebsites.net/UserAction.asmx" />
    </wsdl:port>
    <wsdl:port name="UserActionSoap12" binding="tns:UserActionSoap12">
      <soap12:address location="http://gwf.azurewebsites.net/UserAction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>